@font-face {
    font-family: Stalker;
    src: url("/font.ttf");
}

body,
button,
input {
    font-family: Stalker;
}

body {
    font-size: 35px;
    background-color: black;
    color: white;
}

a {
    color: white;
}

a:hover {
    color: grey;
}

h1 {
    font-size: 100px;
}

.active {
    color: grey;
}

.text-center {
    text-align: center;
}

nav {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: rgb(4, 4, 4);
}

.logo {
    flex: 1;
}

.logo a {
    font-size: 70px;
    text-decoration: none;
    transition: 0.3s;
}

.logo a:hover {
    color: rgb(187, 187, 187);
}

.nav-links a {
    text-decoration: none;
    padding: 14px 20px;
    font-size: 50px;
}

main {
    padding-top: 50px;
}

.Homepage {
    padding-top: 200px;
}

.Homepage > h1 {
    margin-bottom: 20px;
}

.Homepage > a {
    font-size: 50px;
    border: none;
    border-radius: 10px;
    transition: 0.3s;
}

.Product {
    margin: 60px 50px;
}

.Product,
.CartProduct {
    padding: 20px;
    background-color: rgb(4, 4, 4);
    border-radius: 5px;
    display: flex;
    gap: 40px;
}

.CartProduct {
    align-items: center;
    margin: 30px 20px;
}

.CartProduct-image {
    width: 120px;
    height: 120px;
}

.product-image-container {
    width: 250px;
    height: 250px;
}

.product-image {
    width: 100%;
    height: 100%;
}

.product-name {
    font-size: 50px;
}

.product-description {
    margin: 10px 0;
}

.QuantityUpdater {
    display: flex;
    color: white;
    font-family: Stalker;
    font-size: 50px;
}

.QuantityUpdater > input {
    background-color: inherit;
    border: none;
    color: white;
    text-align: center;
    width: 30px;
    font-size: 40px;
}

.QuantityUpdater > input:focus {
    outline: none;
}

.quantity-button {
    background-color: inherit;
    border: none;
    color: white;
    font-size: 80px;
    cursor: pointer;
    transition: 0.2s;
}

.quantity-button:hover {
    color: rgb(105, 188, 96);
}

.add-to-cart-button {
    display: block;
    background-color: rgb(4, 4, 4);
    color: white;
    font-size: 50px;
    border: none;
    margin: 30px 0;
    transition: 0.2s;
    cursor: pointer;
    padding: 0;
}

.add-to-cart-button:hover {
    color: rgb(105, 188, 96);
}

.discard-button {
    background-color: inherit;
    color: rgb(194, 78, 78);
    font-size: 50px;
    border: none;
    cursor: pointer;
}

.discard-button:hover {
    color: rgb(255, 0, 0);
}

.payment-button {
    background-color: inherit;
    border: none;
    padding: 10px;
    margin-top: 20px;
    color: rgb(138, 192, 117);
    font-size: 50px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.payment-button:hover {
    color: rgb(53, 169, 40);
}
